<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
  <title>CJW</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<body>
  <h1>CJW</h1>
  <h3>Crappy Java WebApp</h3>
  <button id="catButton" 
      onclick="initChase()" 
      style="position: absolute;
            top: 20px;
            right: 20px;"
    >cat?</button>
  <p id="status">Loading...</p>
  <div id="canvas"</div>
  <script src="/js/getStatus.js"></script>
  <script src="/js/catChase.js"></script>
</body>
</html>
