<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
  <title>RPS</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<body>
  <h1>Rock Paper Scissors</h1>
  <div id="menu" style="display: grid; place-items: center; height: 200px;">
    <input id="usernameInput" type="text" placeholder="Enter your username">
    <button id="startMatchmaking" style="box-shadow: 0 1px 1px grey;">Start</button>
    <p id="status"></p>
    <p id="score"></p>
    <script th:src="@{/js/rps.js}"></script>
  </div>
  <div id="moves" style="max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      align-content: center;">
  </div>
</body>

</html>
